{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    // "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
